#footer .powered_text {
  text-align: left;
}
#menu {
  background: #3598dc;
}
#menu > ul > li:hover > a {
  color: #fff;
  background: #e43a45;
}
.box-product .sales_price {
  display: block;
  margin: 5px 0 0 0;
  padding: 0 8px;
  color: #555555;
  font-style: italic;
  font-size: 11px;
}
.product-info .price-old, .product-grid .price-old {
  color: #555555;
}
#column-left .box-product .sales_price, #column-right .box-product .sales_price {
  float: left;
  padding: 0 10px 0 0;
  margin: 0px 0 2px 0;
  font-size: 12px;
}
.box-product .name a:hover, .product-grid .name a:hover {
  color: #3598dc;
  text-decoration: none;
}
h1, select, input[type='text'], input[type='password'], textarea {
  font-family: Roboto, sans-serif;
}
.price {
  font-family: Arial, sans-serif;
}
.product-grid > div.alert-empty:hover {
  border: none;
  padding: 11px;
}
#column-left .box-product .name, #column-right .box-product .name {
  overflow: hidden;
}
.buttons {
  border-top: none; 
  overflow: auto;
  padding: 0px 16px 0px 0px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}

.links .pagination.pagination li.prev.disabled, .links .pagination.pagination li.next.disabled, .links .pagination.pagination li.active {
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #3598dc;
  padding: 4px 10px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  background: #3598dc;
}
.links .pagination.pagination li {
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #EEEEEE;
  text-decoration: none;
  color: #777;
}
.links .pagination.pagination li a {
  display: block;
  padding: 4px 10px;
}
#column-left .box-product .image {
  max-width: 25%;
}
#menu > ul > li > a {
  padding: 0px 17px 0px 16px;
}
#footer .powered_text {
  width: auto;
}
#footer .contact {
  width: 32%;
}
#footer .care {
  width: 25%;
  margin-right: 45px;
}
#footer .content-footer {
  margin-right: 45px;
  width: 30%;
}
#footer .contact ul {
  width: auto;
}
p.justify {
  text-align: justify;
}
#footer .content-footer p.justify {
  text-align: justify;
}
@media screen and (max-width: 1056px) {
  #footer .content-footer {
    margin-right: 40px;
  }
  #footer .care {
    margin-right: 40px;
  }
}
@media screen and (max-width: 923px) {
  #footer .content-footer {
    margin-right: 30px;
  }
  #footer .care {
    margin-right: 30px;
  }
}
@media screen and (max-width: 800px) {
  #footer .care ul {
    display: block;
  }
  #footer .contact {
    width: auto;
  }
  #footer .contact ul {
    display: block;
    text-align: center;
  }
  #footer .contact_icon ul li {
    background: none;
  }
  #footer .powered_text {
    text-align: center;
  }
  #footer .care:hover ul {
    display: block;
  }
  #footer .contact ul li {
    padding: 0;
  }
  #footer h3 {
    padding: 10px 0 0 0;
  }
  #footer .care ul, #footer .contact ul {
    padding: 0 0 10px;
  }
  #footer .contact ul li {
    min-height: 0;
  }
  #footer .contact ul li.phone, #footer .contact ul li.email {
    line-height: normal;
  }
}
