<section class="slider-wrapper">
  <div id="slideshow" class="nivoSlider">
    <!-- Size 1000x350 -->
    <% @sliders.each do |slider| %>
      <%= link_to image_tag(slider.image_url.thumb, alt: slider.name, class: "nivo-imageLink"), slider.link_url, title: slider.name %>
    <% end %>  
  </div>
</section>
<% if @sliders.count > 0 %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#slideshow').nivoSlider();
    });
  </script>
<% end %>