<!--<div class="welcome">CHÀO MỪNG QUÝ KHÁCH HÀNG GHÉ THĂM WEBSITE CỦA CHÚNG TÔI</div>-->
<p class="justify">
    <strong>Công ty TNHH Sản Xuất Thương Mại Dịch Vụ Phương Tùng
    là đơn vị chuyên sản xuất các sản phẩm nhựa mang thương hiệu Long Nhiên, thương hiệu
    bồn chứa nước cao cấp hàng đầu tại Việt Nam. Được sản xuất bằng nguyên liệu ngoại nhập
    100%, với đội ngũ công nhân lành nghề kết hợp với công nghệ hiện đại đã cho ra đời những
    sản phẩm mới, đẹp và chất lượng cao.</strong>
</p>