<!--Left Part-->
<div id="column-left">
    <!--Bestsellers Part Start-->
    <%= render "erp/phuong_tung_plastics/frontend/modules/bestseller" %>
    <!--Bestsellers Part End-->
</div>
<!--Left End-->
<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"><%= link_to "Trang Chủ", erp_phuong_tung_plastics.root_path %> &raquo; <%= link_to "Liên Hệ Chúng Tôi", "javascript:void(0)" %></div>
    <!--Breadcrumb Part End-->
    <h1>LIÊN HỆ CHÚNG TÔI</h1>
    
    <div class="contact-info">
      <div class="content">
        <div class="left">
            <h2>THÔNG TIN LIÊN HỆ</h2>
            <b>Công ty TNHH Sản Xuất Thương Mại Dịch Vụ Phương Tùng</b><br />
            Địa chỉ: 280/128 đường Huỳnh Thị Na, Ấp 2, Xã Đông Thạnh, Huyện Hóc Môn, Thành phố Hồ Chí Minh<br />
            Điện thoại: <a href="tel:08 6271 8845">(08) 6271 8845</a> - Fax: <a href="tel:08 6271 8846">(08) 6271 8846</a><br>
            Email: <a href="mailto:phongvt@ptplastics.com.vn">phongvt@ptplastics.com.vn</a> <br>
            Mã số thuế: 0 3 1 4 4 5 0 6 8 0<br />
            Tài khoản: 060152090504 tại Ngân hàng SACOMBANK chi nhánh Hóc Môn - PGD Đông Thạnh
        </div>
        
        <div class="right">
            <h2>GỬI LỜI NHẮN CHO CHÚNG TÔI</h2>
            <%= form_for '', url: erp_phuong_tung_plastics.contact_path, html: {class: "contact_form"} do |f| %>
                <div class="content">
                    <b>Họ & Tên:</b><br>
                    <input class="large-field" type="text" placeholder="Vui lòng nhập họ và tên..." name="contact[name]">
                    <br>
                    <br>
                    <b>Số điện thoại:</b><br>
                    <input class="large-field" type="text" placeholder="Vui lòng nhập số điện thoại..." name="contact[phone]">
                    <br>
                    <br>
                    <b>Địa chỉ email:</b><br>
                    <input class="large-field" type="text" placeholder="Vui lòng nhập địa chỉ email" name="contact[email]">
                    <br>
                    <br>
                    <b>Nội dung lời nhắn:</b><br>
                    <textarea style="width: 89%;" rows="5" cols="10" placeholder="Vui lòng nhập nội dung cần gửi tại đây..." name="msg[message]"></textarea>
                    <br>
                    <br>
                    <div class="buttons">
                        <div class="right">
                            <input type="submit" class="button" value="GỬI LỜI NHẮN">
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<!--Middle Part End-->