<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"><%= link_to "Trang Chủ", erp_phuong_tung_plastics.root_path %> &raquo; <%= link_to "Liên Hệ Chúng Tôi", "javascript:void(0)" %></div>
    <!--Breadcrumb Part End-->
    <br/><br/>
    
    <h1>LỜI NHẮN ĐÃ GỬI THÀNH CÔNG!</h1>
    <div class="contact-info">
      <div class="content">
        <div class="center">
            <h2>
                <b>Chúng tôi sẽ sớm liên hệ lại cho bạn.</b><br />
            </h2>
            <div class="buttons">
                <%= link_to 'QUAY VỀ TRANG CHỦ', erp_phuong_tung_plastics.root_path, class: 'button' %>
            </div>
        </div>
    </div>
</div>
<!--Middle Part End-->