<div class="box">
  <div class="box-heading">Sản phẩm mới</div>
  <div class="box-content">
    <div class="box-product">
      <div class="flexslider">
        <ul class="slides">
          <% Erp::MiniStores::Product.all.each do |product| %>
          <li>
            <div class="slide-inner">
              <div class="image">
                <%= link_to image_tag("/frontend/image/product/small-product.jpg", alt: "", title: ""), product_link(product), title: "" %>
              </div>
              <div class="name">
                <%= link_to product.name, product_link(product), title: "" %>
              </div>
              <div class="sales_price"><del>100,000đ</del></div>
              <div class="price">100,000đ</div>
              <div class="clear"></div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>